{% extends "base.html" %}
{% block content %}
<h1>index</h1>
  <ul class="sidebar-nav">

   {% if user.is_authenticated %}
     <li>User: {{ user.email }}  {{ user.get_username }}</li>
     <li><a href="{% url 'account_logout'%}?next={{request.path}}">Sign out</a></li>
   {% else %}
       <li>Nejste prihlaseni</li>
     <li><a href="{% url 'account_login'%}?next={{request.path}}">Login</a></li>
       <li><a href="{% url 'account_signup'%}?next={{request.path}}">Signup</a></li>
   {% endif %}
  </ul>
{% endblock %}