/* Common styles */
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: url('https://www.linkpicture.com/q/bg_3.png');
  background-size: cover;
}

/* App styles */

.calendar {
  border-spacing: 4px;
  border-collapse: separate;
  table-layout: fixed;
}

.calendar th {
  background-color: transparent;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-bottom-width: 0px;
  font-weight: 600;
}

.calendar td {
  background-color: white;
  height: 8em;
  padding: 0.5vh;
  vertical-align: top;
  border-bottom-width: 0px;
  overflow: hidden;
}

.workout{
  margin-bottom: 0.5vh;
  height:6rem;
  overflow:hidden;
}


.calendar a, .try a {
  text-decoration: none;
  color: black;
}

.accounts{
  width: 30rem;
}

.edit{
  width: 50rem;
}

@media only screen and (max-width: 700px) {
  .calendar {
    table-layout: auto;
  }

}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.month {
  font-size: 2rem;
}

.bi-chevron-left {
  -webkit-text-stroke: 2px ; /* background color */
}

.bi-chevron-right {
  -webkit-text-stroke: 2px ; /* background color */
}

@media only screen and (max-width: 992px) {
  .effort {
    display: none;
  }
}

.name{
  font-weight: 500;
}

.effort{
  margin-left: 0.6rem;
}

.navbar{
  font-size: 1.1rem;
}

.active{
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

@media only screen and (max-width: 576px) {
   .active{
    text-decoration: underline;
     border-bottom: none;
  }
}

.try {
  background-color: transparent;
  padding: 0.5vh;
  vertical-align: top;
  overflow: hidden;
}


