{% extends 'base.html' %}
{% block title %}
Calendar
{% endblock %}

{% block content %}
<div class="container-lg">

<form class="d-flex" method="POST" action="{% url 'log:workout-search' %}">
    {% csrf_token %}
    <div>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searched" value="{{ searched }}">
    </div>
<div>
    <button class="btn btn-outline-primary ms-1" type="submit"><i class="bi bi-search"></i></button>
</div>

      </form>

    {% for workout in workouttypes %}
    <button type="button" class="btn  filter my-2 {{workout.name}}" id="{{workout.name}}" style="background-color: {{workout.color}};" >{{workout.name}}</button>
    {% endfor %}

    <div class="d-flex justify-content-center month my-3">
        <div class="order-1">
            <a class="btn " href="{% url 'log:calendar' %}?{{ prev_month }}"> <i class="bi bi-chevron-left"></i></a>
        </div>
        <div class="order-3">
	        <a class="btn " href="{% url 'log:calendar' %}?{{ next_month }}"> <i class="bi bi-chevron-right"></i> </a>
        </div>

        {{ calendar }}
    </div>
</div>

<script>

$(document).ready(function(){
    if ($(".workout").hasClass("Cycling")) {
         $(".icons .Cycling").append(" <img src=\"{{ MEDIA_URL }}icons/bike.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
         $('.icons .Cycling').removeClass('default');
    }
    if ($(".workout").hasClass("Run")) {
         $(".icons .Run").append(" <img src=\"{{ MEDIA_URL }}icons/run.png\" class=\"\" style=\"width: 1.2rem;\" />\n");
         $('.icons .Run').removeClass('default');
    }
    if ($(".workout").hasClass(".Strength")) {
          $(".icons .Strength").append(" <img src=\"{{ MEDIA_URL }}icons/strength.png\" class=\"\" style=\"width: 1.2rem;\" />\n");
         $('.icons .Strength').removeClass('default');
    }
    if ($(".workout").hasClass("Swimming")) {
         $(".icons .Swimming").append(" <img src=\"{{ MEDIA_URL }}icons/swim.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
         $('.icons .Swimming').removeClass('default');
    }
    if ($(".workout").hasClass("Recovery")) {
        $(".icons .Recovery").append(" <img src=\"{{ MEDIA_URL }}icons/heart.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
         $('.icons .Recovery').removeClass('default');
    }

    $(".icons .default").append(" <img src=\"{{ MEDIA_URL }}icons/star.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
});

</script>
{% endblock %}