{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Search</h1>



    <form class="d-flex" method="POST" action="{% url 'log:workout-search' %}">
    {% csrf_token %}
    <div>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searched" value="{{ searched }}">
    </div>
<div>
    <button class="btn btn-outline-primary ms-1" type="submit"><i class="bi bi-search"></i></button>
</div>

      </form>

{% if searched %}

    <div class="row mt-3 bg-white">
{% for workout in workouts %}
<br/>
<div class="try col-sm-4 col-md-3 col-6 ">
    <p class="mb-n1">{{workout.date}}</p>
    <a href="{% url 'log:workout_edit' workout.id %}">
      <div class="workout {{workout.workouttype}}" style="background-color:{{workout.workouttype.color}};">
        <div class="row">
          <div class="col-xl-2 col-lg-3 text-center">
            <div class="row icons mt-1">
              <div class="col-4 ms-1 default {{workout.workouttype}}">
              </div>
              <div class="col-4 ms-1  {{workout.feeling}}">
              </div>
              <div style="font-size: 1.1rem;" class="col-4 mt-n1 effort"> {{workout.effort}} </div>
            </div>
          </div>
          <div class="col-xl-10 col-lg-9">
            <div class="name">{{ workout.name }}</div>
            <div class="description"> {{ workout.description }}</div>
          </div>
        </div>
      </div>
    </a>
</div>

{% endfor %}
</div>


{% else %}
<p>Zadejte hledaný výraz</p>
{% endif %}


    </div>

<script>

$(document).ready(function(){
    if ($(".workout").hasClass("Cycling")) {
         $(".icons .Cycling").append(" <img src=\"{{ MEDIA_URL }}icons/bike.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
         $('.icons .Cycling').removeClass('default');
    }
    if ($(".workout").hasClass("Run")) {
         $(".icons .Run").append(" <img src=\"{{ MEDIA_URL }}icons/run.png\" class=\"\" style=\"width: 1.2rem;\" />\n");
         $('.icons .Run').removeClass('default');
    }
    if ($(".workout").hasClass(".Strength")) {
          $(".icons .Strength").append(" <img src=\"{{ MEDIA_URL }}icons/strength.png\" class=\"\" style=\"width: 1.2rem;\" />\n");
         $('.icons .Strength').removeClass('default');
    }
    if ($(".workout").hasClass("Swimming")) {
         $(".icons .Swimming").append(" <img src=\"{{ MEDIA_URL }}icons/swim.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
         $('.icons .Swimming').removeClass('default');
    }
    if ($(".workout").hasClass("Recovery")) {
        $(".icons .Recovery").append(" <img src=\"{{ MEDIA_URL }}icons/heart.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
         $('.icons .Recovery').removeClass('default');
    }

    $(".icons .default").append(" <img src=\"{{ MEDIA_URL }}icons/star.png\" class=\"img-responsive\" style=\"width: 1.5rem;\" />\n");
});

</script>

{% endblock %}