{% extends "base.html" %}
{% block content %}
    <h1>search</h1>

<form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'log:workout-search' %}">
      {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched" value="{{ searched }}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

{% if searched %}

{% for workout in workouts %}
<a href="{% url 'log:workout_edit' workout.id %}">{{ workout }}</a>
<br/>
{% endfor %}

{% else %}
<p>Zadejte hledaný výraz</p>
{% endif %}

{% endblock %}